{% extends "base.html" %}

{% block content %}

{% if notifications %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Notification</th>
      <th scope="col">Description</th>
      <th scope="col">Participants</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for notification in notifications %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>
          <span><b>{{ notification.title }}</b> </span> <span class="badge badge-light">{{ notification.get_status_display|lower }}</span><br/>
          <span>{{ notification.onset_at }}</span>
          <span>{{ notification.creator.email }}</span>
      </td>
      <td>
          {{ notification.place }}<br/>
          {{ notification.description }}
      </td>
      <td>
          {% for participant in notification.participant_set.all %}
          {{ participant.user.email }}<span class="badge badge-light"> {{ participant.get_status_display|lower }}
          {% if participant.user == user %}

          <a href="{% url 'change-participant-status' participant.id %}">
          {% if participant.status %}
              decline
          {% else %}
              accept
          {% endif %}
          </a>
          {% endif %}
          </span>
          <br/>
          {% endfor %}
      </td>
      <td>
          <div class="btn-group" role="group">
          {% if user == notification.creator %}
              <a href="{% url 'notification-edit' notification.id %}" role="button" class="btn btn-secondary btn-primary">Edit</a>
              <a href="{% url 'notification-delete' notification.id %}" role="button" class="btn btn-secondary btn-warning">Delete</a>
          {% endif %}
          </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    <p>No notification are available.</p>
{% endif %}
<a href="{% url 'notification-create' %}" role="button" class="btn btn-primary">Add notification</a>
{% endblock %}